:root {
  --header-height: 80px;
  --header-scroll-height: 70px;
}

html,
body {
  width: 100%;
}

img,
video {
  -webkit-mask-image: -webkit-radial-gradient(#fff, #222);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.head-container {
  max-width: 1280px;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1060px;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.main-container {
  // padding-top: var(--header-height);
  padding: 140px 0 80px;
}

.comm-section {
  padding: 60px 0;
  position: relative;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

/* header */
:root {
  --menuWidth: 300px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header1 .header-logo1 {
  display: none;
}

.header2 .header-logo2 {
  display: none;
}

.head-right {
  display: flex;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
}

.header-box {
  .head-container {
    .flex(space-between, center);
    height: var(--headerHeight);
    .anim();
  }

}


.drop {
  position: relative;

  &>a:after {
    content: '';
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: url(../img/menu-drop.svg)no-repeat center center/contain;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s;
  }

  ul {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    top: 40px;
    padding: 10px;
    left: 50%;
    width: 270px;
    margin-left: -150px;
    opacity: 0;
    visibility: hidden;
    .anim();

    li {
      padding: 0;

      &:last-of-type {
        border-bottom: 0;
      }

      a {
        display: block;
        font-size: 14px;
        padding: 8px 15px;
        border-radius: 5px;

        &:hover {
          background: #eee;
          color: #000;
        }
      }
    }
  }

  &:hover {
    ul {
      opacity: 1;
      visibility: visible;
    }

    &>a:after {
      transform: rotate(180deg);
      transition: 0.3s;
    }

  }
}

.header-wrap {
  display: flex;
}

.header-box {
  display: flex;
  height: var(--header-height);
}

.header-mobile {
  align-items: center;
  display: flex;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;

  a {
    color: black;

    &:hover {
      color: gray;
    }
  }

  &:after {
    content: '';
    width: 1px;
    height: 150%;
    background-color: #464D5C;
    position: absolute;
    top: -5px;
    right: 0;
  }
}

.menuBtn {
  display: flex;
  align-items: center;

  .button {
    height: 48px;
    line-height: 48px;
    margin-left: 24px;
  }
}

.header-list {
  .flex(flex-start, center);

  li {
    // padding: 7px 24px;

    a {
      font-weight: 500;
      font-size: 14px;
      color: #F6FAFE;

      &:hover {
        color: var(--secClr);
      }
    }
  }
}

.scroll-logo {
  display: none;
}


.fixHeader .logo .scroll-logo {
  display: block;
}

.fixHeader .logo img {
  display: none;
}

.fixHeader {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(19, 28, 162, 0.1);
  .anim();

  .header-box .head-container {
    height: var(--headerFixedHeight);
  }

  .header-list li a {
    color: var(--clr-blue);
  }
}

/* side menu */
.menu {
  display: none;
  position: relative;
  margin-left: 15px;
}

.mobile-menu {
  position: fixed;
  right: ~'calc(-1 * var(--menuWidth))';
  overflow-y: auto;
  top: 0;
  background: #fff;
  width: var(--menuWidth);
  height: 100%;
  z-index: 9999;
  padding: 0 20px;
  .anim(0.5s);

  .header-list {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: ~'calc(100vh - 90px)';

    li {
      padding: 0;
      margin-bottom: 20px;

      a {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  &.in {
    right: 0;
  }
}

.mob-menu-footer {
  margin: 30px 0;
}

.menuOverlay {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  .anim(0.5s);

  &.in {
    opacity: 0.4;
    visibility: visible;
  }
}

.close-menu {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;

  &:hover i {
    transform: rotate(90deg);
  }
}

@media all and (max-width:990px) {
  .header-list {
    display: none;
  }

  .menu {
    display: block;
  }
}

/* header end */


/* common */
body {
  background: #F6FAFF;
}

.dnone {
  display: none;
}

.comm-scroll {

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    .border-radius(10px);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #1831AF;
    .border-radius(10px);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1831AF;
  }
}

.comm-rev {
  position: relative;
}

.comm-box {
  position: relative;
  padding: 44px;
  background: #fff;
  border-radius: 18px;
}

.comm-hdn-box {
  margin-bottom: 24px;

  .comm-hdn {
    margin-bottom: 4px;
  }
}

.comm-hdn {
  font-weight: 800;
  font-size: 24px;
  // line-height: 32px;
  line-height: 1.4;
  color: #0F0F0F;
  margin-bottom: 16px;
}

.comm-para {
  p {
    font-size: 14px;
    // line-height: 22px;
    // line-height: 1.2;
    line-height: 1.6;
    color: rgba(18, 18, 50, 0.75);
  }
}

.comm-hdn-slide {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .comm-hdn-box {
    flex: 1;
    min-width: 0;
    padding-right: 60px;
    margin-bottom: 0;
  }
}

.form-quest-box {
  margin-bottom: 16px;

  .form-quest {
    margin-bottom: 4px;
  }
}

.form-para {
  p {
    font-size: 14px;
    // line-height: 22px;
    line-height: 1.6;
    color: #938E9E;
    margin-bottom: 8px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}


.comm-link {
  position: relative;
  font-size: 14px;
  // line-height: 22px;
  line-height: 1.6;
  color: #1831AF;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--clr-blue);
  }
}

.comm-link2 {
  position: relative;
  font-size: 14px;
  // line-height: 22px;
  line-height: 1.6;
  color: var(--clr-mint-green);
}

.mob-txt,
.mob-comp {
  display: none;
}

.custm-frow {
  .form-grp-field {
    margin-bottom: 0;
  }
}

/* common end */

/* auth module */
.banner-top-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 450px;
  overflow: hidden;
  background: linear-gradient(252.44deg, #00e6d2 0, #4f94c3 49.22%, #384a91 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0;
  width: 100%;

  // img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
}

.banner-box {
  text-align: center;
  margin-bottom: 48px;
}

.banner-hdn {
  font-weight: 700;
  font-size: 38px;
  // line-height: 46px;
  line-height: 1.4;
  color: #F8F7F9;
  margin-bottom: 8px;

  br {
    display: none;
  }
}

.banner-para {
  p {
    font-weight: 500;
    font-size: 20px;
    // line-height: 28px;
    line-height: 1.6;
    color: #F8F7F9;
    margin-bottom: 8px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}


.info-txt {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #F8F7F9;
  border-radius: 25px;
  margin-bottom: 24px;

  i {
    font-size: 18px;
    color: #1831af;
    margin-right: 8px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    color: #1831AF;
  }
}


.form-box {
  max-width: 420px;
  padding: 40px;
  background: #fff;
  border-radius: 18px;
  margin: 0 auto 80px;
}

.auth-hdn-box {
  margin-bottom: 24px;
}

.auth-hdn {
  font-weight: 700;
  font-size: 24px;
  // line-height: 32px;
  line-height: 1.4;
  color: #0F0F0F;
  margin-bottom: 8px;
}

.mob-auth-para {
  display: none;
}

.auth-para {
  p {
    font-size: 14px;
    // line-height: 22px;
    line-height: 1.4;
    color: var(--clr-grey);
    margin-bottom: 8px;

    i {
      font-style: normal;
    }

    b {
      font-weight: 400;
    }

    span {
      color: var(--clr-black);
    }

    a {
      color: var(--clr-blue);
      // text-decoration: underline;
      position: relative;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   bottom: -1px;
      //   left: 0;
      //   height: 1px;
      //   width: 100%;
      //   background: var(--clr-blue);
      // }
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.ap-txt-cen {
  text-align: center;
  margin-bottom: 24px;
}

.auth-btn {
  .button {
    margin-bottom: 16px;
  }

  .button:last-child {
    margin-bottom: 0;
  }
}

.resend-mob {
  display: none;
  margin-top: 16px;
}

/* auth module end */

/* welcome page */
.welcome-box {
  display: flex;
  flex-direction: row-reverse;
}

.welcome-right {
  width: 400px;
}

.welcome-left {
  flex: 1;
  min-width: 0;
  // padding-right: 24px;
  padding-right: 18px;
}


.welcome-pay {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  padding: 34px 44px;
  margin-bottom: 24px;
}

.wel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wel-cont-box {
  position: relative;
}


.wel-mont-pay {
  margin-bottom: 32px;
}

.wel-hdn {
  // font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  // line-height: 22px;
  line-height: 1.4;
  color: #F6FAFF;
}

.wel-pay-val {
  // font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  // line-height: 36px;
  line-height: 1.2;
  color: #FFFFFF;
}



.wel-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .wel-period:last-child {
    padding-right: 0;
  }
}

.wel-period {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.wel-icon {
  .flex(center, center);
  width: 36px;
  height: 36px;
  background: #F6FAFF;
  border-radius: 100%;
  margin-right: 10px;

  i {
    font-size: 20px;
    color: #4F94C3;
  }
}

.wel-per-cont {}

.wel-per-hdn {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #F6FAFF;
}

.wel-per-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}



.rnge-slide {
  margin-bottom: 24px;
}

.form-grp.amt-slider {
  // font-size: 14px;
  max-width: 80px;
  margin-top: 0;
  margin-bottom: 0;

  .form-field {
    height: 40px;
    padding: 0 12px;
    color: #1831AF;
  }
}

.rnge-slide-box {
  margin-bottom: 30px;

  .rnge-slide:last-child {
    margin-bottom: 0;
  }
}

.rnge-hdn {
  font-weight: 400;
  font-size: 16px;
  // line-height: 24px;
  line-height: 1.4;
  color: #121232;
}

.rnge-top {
  .flex(space-between, center);
  margin-bottom: 4px;
}

.rnge-btm {
  .flex(space-between, center);
  margin-top: 4px;

  p {
    font-size: 14px;
    // line-height: 22px;
    line-height: 1.6;
    color: #938E9E;
  }
}

.drag-slide {}


.rnge-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.rnge-total-hdn {
  font-size: 14px;
  // line-height: 22px;
  line-height: 1.4;
  color: #121232;
  padding-right: 16px;
  flex: 1;
  min-width: 0;
}

.rnge-total-price {
  font-weight: 700;
  font-size: 16px;
  // line-height: 24px;
  line-height: 1.4;
  color: #0F0F0F;
}


.comm-disclaim {
  margin-bottom: 24px;

  p {
    font-size: 12px;
    // line-height: 14px;
    line-height: 1.4;
    color: #938E9E;
  }
}

.wel-check-box {
  // margin-bottom: 80px;
  // margin-bottom: 40px;
  margin-bottom: 24px;
}

.checkbox-box.wel-chk {
  font-weight: 600;
  margin-bottom: 24px;

  .chk-label {
    color: #938e9e !important;
    padding-left: 32px !important;
  }

  .chk-label:before {
    width: 22px !important;
    height: 22px !important;
  }

  .chk-label:after {
    left: 3px !important;
    top: 3px !important;
  }
}




.form-quest {
  // font-weight: 500;
  // font-size: 18px;

  font-weight: 700;
  font-size: 16px;

  // line-height: 28px;
  line-height: 1.2;
  color: #0F0F0F;
  margin-bottom: 12px;
}

.title-chk {
  .checkbox-box.check-three {
    margin-right: 12px;
    margin-bottom: 4px;
  }
}

.comm-step {
  width: 90px;
}


.post-input {
  flex: 1;
  min-width: 0;
  padding-right: 10px;

  .form-grp {
    margin-top: 0;
    margin-bottom: 0;
  }

}

.input-n-btn {
  display: flex;

  .button {
    height: 56px;
    line-height: 56px;
  }
}



.addr-card {
  margin-bottom: 16px;
}

.addr-main-box {
  margin-bottom: 24px;

  .addr-card:last-child {
    margin-bottom: 0;
  }
}

.addr-hdn {
  font-weight: 500;
  font-size: 18px;
  // line-height: 28px;
  line-height: 1.6;
  color: #0F0F0F;
  margin-bottom: 16px;
}

.addr-box {
  padding: 20px 16px;
  background: #F6FAFE;
  border-radius: 8px;
}

.addr-hdn-cross {
  .flex(space-between, center);
  margin-bottom: 8px;
}

.addr-cont-hdn {
  font-size: 16px;
  // line-height: 24px;
  line-height: 1.4;
  color: #0F0F0F;
  padding-right: 15px;
}

.addr-ico {
  color: #0f0f0f;
  font-size: 22px;
  cursor: pointer;
}

.addr-cont-owner {
  .flex(space-between, center);
}

.addr-owner {
  font-size: 14px;
  // line-height: 22px;
  line-height: 1.6;
  color: #0F0F0F;
}

.comm-disclaim.blk-disclm {
  color: #0F0F0F;
}


.banner-top-img.inner-bg-img {
  position: absolute;
  height: 350px;
}

/* welcome page end */



/* congo */
.congo-box {
  max-width: 600px;
  margin: auto;
}

.congo-cont {
  text-align: center;
  width: 260px;
  margin: auto;
}

.congo-hdn {
  font-weight: 800;
  font-size: 24px;
  // line-height: 32px;
  line-height: 1.2;
  color: #0F0F0F;
  margin-bottom: 5px;
}

.congo-para {
  p {
    font-size: 14px;
    // line-height: 22px;
    line-height: 1.6;
    color: rgba(18, 18, 50, 0.75);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.congo-lottie {
  width: 200px;
  // margin: 0 auto 60px;
  margin: 0 auto 24px;
}

/* congo end */


/* checkout */
.tick-anim {
  width: 48px;
  height: 48px;
  background: linear-gradient(208.27deg, #59BBCA 0%, #00E6D2 100%);
  border-radius: 100%;
  font-size: 24px;
  color: #fff;
  .flex(center, center);
}

.congo-checkout {
  max-width: 620px;
  // margin: 70px auto 0;
  margin: 40px auto 0;
}

.check-list {
  .flex(space-between, center);
  margin-bottom: 16px;

  .form-quest {
    margin-bottom: 0;
  }
}

.check-list.check-list-head {
  .check-lis-hdn {
    font-weight: 700;
    color: #0F0F0F;
  }
}

.check-lis-hdn {
  font-size: 16px;
  // line-height: 24px;
  line-height: 1.6;
  color: #938E9E;
}

.check-amount {
  font-size: 16px;
  line-height: 24px;
  color: #0F0F0F;
}

.checkout-list-box {
  margin-bottom: 24px;

  .check-list:last-child {
    margin-bottom: 0;
  }
}

/* checkout end */

/* Your approved loan */
.loan-card-det {
  background: #F6FAFE;
  padding: 8px;
  margin-bottom: 24px;

  .check-list {
    margin-bottom: 8px;
  }

  .check-list:last-child {
    margin-bottom: 0;
  }

  .check-lis-hdn,
  .check-amount {
    font-size: 14px;
  }
}

.comm-hdn-box.loan-det-hdn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.term-main-box {
  margin-bottom: 24px;
}

.term-box {
  padding: 0 20px 0;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 20px;
  margin-right: 5px;
}

.term-height {
  border: 1px solid #DBD8DF;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
}

.term-content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    // line-height: 22px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 16px;
  }

  ul {
    margin-bottom: 16px;

    li {
      position: relative;
      padding-left: 12px;
      margin-bottom: 5px;

      p,
      a {
        font-weight: 400;
        font-size: 14px;
        // line-height: 22px;
        line-height: 1.6;
        color: #000000;
        margin-bottom: 0;
      }

      a {
        color: #ee163d;
      }

      &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        display: block;
        top: 8px;
        left: 0;
        background: #000000;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


// .term-hdn-box {
//   margin-bottom: 16px;
// }

// .term-box-hdn {
//   font-weight: 700;
//   font-size: 16px;
//   color: #000000;
//   margin-bottom: 8px;
// }

// .term-box-para {
//   p {
//     font-weight: 400;
//     font-size: 14px;
//     // line-height: 22px;
//     line-height: 1.6;
//     color: #000000;
//     margin-bottom: 8px;
//   }

//   p:last-child {
//     margin-bottom: 0;
//   }
// }

.checkbox-box.term-chk {
  display: flex;

  .chk-label {
    font-size: 12px;
    // line-height: 14px;
    line-height: 1.4;
    color: #0F0F0F;
    padding: 5px;
    padding-left: 28px;

    a {
      color: #4F94C3;
    }
  }

  .chk-label:before {
    top: 3px;
    width: 18px;
    height: 18px;
    border-color: #0F0F0F;
    border-width: 2px;
  }

  .chk-label:after {
    left: 1px;
    top: 5px;
    transform: scale(0);
  }

  input:checked~.chk-label::before {
    background: transparent;
    border-color: #00E6D2;
  }

  input:checked~.chk-label::after {
    color: #00E6D2;
    font-size: 16px;
    transform: scale(1);
  }
}

.chk-main-term {
  padding: 12px 18px;
  background: #f8f7f9;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.09);
}


.repay-list {
  .check-list {
    background: #F6FAFE;
    padding: 8px;
    margin-bottom: 8px;
  }

  .check-list:last-child {
    margin-bottom: 0;
  }

  .check-lis-hdn {
    color: #121232;
  }

  .check-lis-hdn,
  .check-amount {
    font-size: 14px;
  }
}


.contact-time {
  font-size: 14px;
  // line-height: 22px;
  line-height: 1.6;
  color: #938E9E;
}

.contact-link {
  display: block;
  font-size: 14px;
  // line-height: 22px;
  line-height: 1.6;
  color: #4F94C3;
}

.contact-box {
  margin-bottom: 24px;
}

.contact-top {
  margin-bottom: 4px;

  .form-quest {
    margin-bottom: 4px;
  }
}

/* Your approved loan end */

.card-img {
  width: 85px;
  margin-bottom: 24px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  &.gry-scale {
    filter: grayscale(1);
  }
}

.card-amt {
  h6 {
    font-weight: 400;
    font-size: 14px;
    // line-height: 14px;
    line-height: 1.6;
    color: #121232;
    white-space: nowrap;
    margin-bottom: 4px;
  }

  p {
    font-weight: 700;
    font-size: 16px;
    // line-height: 22px;
    line-height: 1.6;
    color: #0F0F0F;

  }
}

.card-amt-icon {
  display: flex;
  justify-content: center;
  color: #59bbca;
  font-size: 22px;
  width: 30px;

  &:hover {
    color: var(--clr-blue);
  }
}

.card-amt-flex {
  display: flex;
  flex: 1;
  min-width: 0;

  .card-amt {
    width: 33.33%;
    padding-right: 10px;
  }
}

.card-main-amt {
  display: flex;
  align-items: center;
  // margin-bottom: 16px;
  display: none;
}

.comm-hdn-cross {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  .comm-hdn {
    margin-bottom: 0;
  }
}

.loan-cross {
  color: #000000;
  font-size: 22px;
  display: none;
}

.loan-amt-btn {
  margin-top: 24px;
  display: none;
}

.add-bg-mob {
  display: none;
}

.form-grp-field.form-mb {
  margin-bottom: 12px;
}

.repay-link {
  text-align: right;
}