.cur-point {
    cursor: pointer;
}

.dnone {
    display: none !important;
}

.comm-rev {
    position: relative;
}

.yourallset-lottie {
    position: absolute;
    width: 150px;
    top: -40px;
    left: -40px;
}

/* range slider */
.rangeslider,
.rangeslider .rangeslider__fill {
    box-shadow: none !important;
}

.rangeslider {
    background: #F6FAFE !important;
}

.rangeslider-horizontal {
    height: 10px !important;
}

.rangeslider-horizontal .rangeslider__fill {
    background: linear-gradient(208.27deg, #59BBCA 0%, #00E6D2 100%) !important;
}

.rangeslider-horizontal .rangeslider__handle:after {
    background-color: transparent !important;
    box-shadow: none !important;
    background: url('../img/handle-drag.svg');
    background-position: center;
    border-radius: 0 !important;
    width: 18px !important;
    height: 18px !important;
}

.rangeslider .rangeslider__handle {
    background: #1831AF !important;
    border: none !important;
    box-shadow: none !important;
}

/* range slider end */

@media all and (max-width:990px) {
    .yourloan {
        display: none;
    }

    .yourloan.show {
        display: block;
    }
}